.sort-icon {
    font-size: 16px;
    vertical-align: middle;
    width: 20px; 
    display: inline-block;
    text-align: center;
  }
  
  .material-icons {
    font-size: 16px;
    margin-left: 5px;
    float: inline-end;
    margin-top: 5.5px;
  }
  .expand-less {
    margin-top: -0.01px;
  }
  
  .expand-more {
    margin-top: 11px;
  }