.btn-outline-danger {
    color: #FC3A10 !important;
    border-color: #FC3A10 !important;
    background: #fff;
  }
  .btn-outline-danger:hover {
    color: #fff !important;
    border-color: #fff !important;
    background: #FC3A10;
  }
  .input-group {
    margin: 0.4rem 0rem;
}