.btn-outline-dark {
    color: #000 !important;
    border-color: #fff;
    background: #fff;
    border: 1px solid #10a504;
    font-size: 1rem;
    font-weight: 480;
  }
  .btn-outline-dark:disabled {
  color: #58555e !important;
  background-color: #fff !important;
  font-weight: 480;
  }
  .btn-outline-dark:hover {
  color: #fff !important;
  border-color: #10a504 !important;
  background: #10a504 !important;
  }
  .btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: none;
    background: #10a504 !important;
    color: #fff !important;
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(232, 246, 253, 0.9) !important;
  }
  tr:nth-child(even) td {
    background-color: #fff !important;
  }
  .table-veritical-sm {
    height: 24rem;
    overflow-y: scroll;
}
.card-title {
  font-size: 18px !important;
  color: #000;
  font-weight: 480 !important;
  background: #f5f5f5;
  padding: 5px 20px !important;
  width: fit-content;
  border: 1px solid #10a504;
}