<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10 col-xl-10">
    <!-- back-link -->

    <div class="d-flex section-top-space">
      <div class="d-flex">
        <a style="color: #000000">
          <h6 class="py-1 mt-1 header-font">Test directory</h6> </a
        ><span class="pt-1"><i class="ri-arrow-right-s-line icon"></i></span>
        <a style="color: #000000">
          <h6 class="py-1 mt-1 header-font">Reference ranges</h6>
        </a>
      </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="d-flex flex-wrap w-75">
            <button class="btn btn-outline-success add-section btn-rounded mb-2">
                <i class="ri-save-line pr-2"></i>Save
              </button>
        </div>
    </div>

    <div class="card">
        <div class="d-flex flex-wrap">
          <div class="col-md-6 col-lg-6 col-12">
            <div class="input-group">
              <label for="inputField1" class="input-group-text side-input-dia"
                >Division:</label
              >
              <select id="dropdown1" class="form-control">
                <option value="option1">Select</option>
                <option value="option2">Option-biology</option>
                <option value="option3">Option-biology</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-12">
            <div class="input-group">
              <label for="inputField1" class="input-group-text side-input-dia"
                >Section:</label
              >
              <select id="dropdown1" class="form-control">
                <option value="option1">Select</option>
                <option value="option2">Option-biology</option>
                <option value="option3">Option-biology</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12">
        <div class="input-group">
          <input
            style="height: 36px !important"
            type="text"
            class="form-control"
            id="searchAxis"
            placeholder="Enter Test Name / Description"
          />

          <label
            style="height: 36px !important"
            class="form-label input-group-text-ar side-input-dia"
            for="abc3"
            >Enter T Axis or Description</label
          >

          <!-- <div>
            <p>No matching records found.</p>
          </div> -->
        </div>
    </div>
    </div>

    <div class="card mt-2">
      <table class="table table-bordered data mt-2">
        <thead>
          <tr>
            <th style="width: 9rem">Code</th>
            <th style="width: 10.9rem">Rstp</th>
            <th>Test Name</th>
            <th style="width: 11.5rem">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PDW</td>
            <td class="section-number">
              <span class="editable-content">N</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td class="text-left">PDW</td>
            <td>
              <button class="btn-outline-primary btn-icon btn-rounded">
                <i class="ri-pencil-line pr-1"></i>Edit Reference Ranges
              </button>
            </td>
          </tr>
          <tr>
            <td>PLT</td>
            <td class="section-number">
              <span class="editable-content">N</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td class="text-left">PLT</td>
            <td>
              <button class="btn-outline-primary btn-icon btn-rounded">
                <i class="ri-pencil-line pr-1"></i>Edit Reference Ranges
              </button>
            </td>
          </tr>
          <!-- <tr>
                <td>PLT</td>
                <td class="section-number">
                  <span class="editable-content">N</span>
                  <input type="text" class="editable-input" style="display: none;" value="1" />
                  <select class="editable-dropdown" style="display: none;">
                    <option value="1">Y</option>
                    <option value="2">N</option>
                  </select>
                </td>
                <td class="text-left">PLT</td>
              </tr>
              <tr>
                <td>PLT</td>
                <td class="section-number">
                  <span class="editable-content">N</span>
                  <input type="text" class="editable-input" style="display: none;" value="1" />
                  <select class="editable-dropdown" style="display: none;">
                    <option value="1">Y</option>
                    <option value="2">N</option>
                  </select>
                </td>
                <td class="text-left">PLT</td>
              </tr> -->
          <tr>
            <td>PLT</td>
            <td class="section-number">
              <span class="editable-content">N</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td class="text-left">PLT</td>
            <td>
              <button class="btn-outline-primary btn-icon btn-rounded">
                <i class="ri-pencil-line pr-1"></i>Edit Reference Ranges
              </button>
            </td>
          </tr>
          <tr>
            <td>PLT</td>
            <td class="section-number">
              <span class="editable-content">N</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td class="text-left">PLT</td>
            <td>
              <button class="btn-outline-primary btn-icon btn-rounded">
                <i class="ri-pencil-line pr-1"></i>Edit Reference Ranges
              </button>
            </td>
          </tr>
          <tr>
            <td>PLT</td>
            <td class="section-number">
              <span class="editable-content">N</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td class="text-left">PLT</td>
            <td>
              <button class="btn-outline-primary btn-icon btn-rounded">
                <i class="ri-pencil-line pr-1"></i>Edit Reference Ranges
              </button>
            </td>
          </tr>
          <tr>
            <td>PLT</td>
            <td class="section-number">
              <span class="editable-content">N</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td class="text-left">PLT</td>
            <td>
              <button class="btn-outline-primary btn-icon btn-rounded">
                <i class="ri-pencil-line pr-1"></i>Edit Reference Ranges
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- result-type-table -->
    <div class="card mt-2">
      <table class="table table-bordered data mt-2">
        <thead>
          <tr>
            <th style="width: 7.2rem">Code</th>
            <th style="width: 2.5rem">Gender</th>
            <th style="width: 2.5rem">Age From</th>
            <th style="width: 2.5rem">F</th>
            <th style="width: 2.5rem">Age To</th>
            <th style="width: 2.5rem">F</th>
            <th style="width: 2.5rem">LHF</th>
            <th style="width: 2.5rem">Ref.Low</th>
            <th style="width: 2.5rem">Ref.High</th>
            <th style="width: 2.5rem">Critical L</th>
            <th style="width: 2.5rem">Critical H</th>
            <th style="width: 2.5rem">Days From</th>
            <th style="width: 2.5rem">Days To</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
          <tr>
            <td></td>
            <td class="section-number">
              <span class="editable-content">M</span>
              <input
                type="text"
                class="editable-input"
                style="display: none"
                value="1"
              />
              <select class="editable-dropdown" style="display: none">
                <option value="1">Y</option>
                <option value="2">N</option>
              </select>
            </td>
            <td>0</td>
            <td>D</td>
            <td>7</td>
            <td>D</td>
            <td></td>
            <td>4.000</td>
            <td>6.500</td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>7</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- result-type-table -->
  </div>
</div>
