<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10 col-xl-10">
    <div class="d-flex section-top-space">
      <!-- <div class="d-flex">
        <a
          style="color: #000000"
          href="http://127.0.0.1:5500/Master/accession-prefix.html"
        >
          <h6 class="py-1 mt-1 header-font">Order Processing</h6> </a
        ><span class="pt-1"><i class="ri-arrow-right-s-line icon"></i></span>
        <a style="color: #000000" href="#">
          <h6 class="py-1 mt-1 header-font">Central Receiving</h6>
        </a>
      </div> -->
    </div>
  </div>  
</div>
<!-- back-link -->
<!-- tabs -->
<section class="section-wrapper mt-0">
  <div>
    <!-- <nav class="tab-nav"> -->
      <!-- <button  id="btnadclient" data-tab-target="tab-content-1" (click)="OrderReceiving('OrderReceiving')" >
        Central Receiving
      </button>
      <button data-tab-target="tab-content-2" id="btnlist">List</button> -->
      <!--<button data-tab-target="tab-content-3" id="btnspecialprices" (click)="goToVotes('specialprices')"  >Special Prices</button>
      <button data-tab-target="tab-content-4" routerLink="/landing">Groups</button>-->
    <!-- </nav> -->
    <app-default></app-default>
  </div>
</section>
