<!-- <form> -->
<!-- third-section -->
<div class="d-flex">
  <div class="d-flex flex-column mt-2">
    <div class="custom-input" style="width: 10.8rem">
      <div class="card d-flex flex-column vertical-center">

        <button class="btn page-btn btn-outline-dark mb-2" *ngIf="rolebaseaction.isSaveAccess; else noClick_Submit"
          (click)="SaveResult()">

          <i class="ri-save-line pr-2"></i>Save
        </button>
        <ng-template #noClick_Submit>
          <button class="btn btn-outline-dark mb-2" disabled>
            Save
          </button>
        </ng-template>
        <button class="btn page-btn btn-outline-dark mb-2" *ngIf="rolebaseaction.isVerifyAccess; else noClick_Verify"
          (click)="statusUpdate('VR')">
          <i class="ri-check-double-line pr-2"></i>Verify
        </button>
        <ng-template #noClick_Verify>
          <button class="btn btn-outline-dark mb-2" disabled>
            Verify
          </button>
        </ng-template>
        <button class="btn page-btn btn-outline-dark mb-2"
          *ngIf="rolebaseaction.isValidateAccess; else noClick_Validate" (click)="statusUpdate('VD')">
          <i class="ri-pass-valid-line pr-2"></i>Validate
        </button>
        <ng-template #noClick_Validate>
          <button class="btn btn-outline-dark mb-2" disabled>
            Validate
          </button>
        </ng-template>
        <button class="btn page-btn btn-outline-dark mb-2" *ngIf="rolebaseaction.isReleaseAccess; else noClick_Release"
          (click)="statusUpdate('RD')">
          <i class="ri-inbox-unarchive-line pr-2"></i>Release
        </button>
        <ng-template #noClick_Release>
          <button class="btn btn-outline-dark mb-2" disabled>
            Release
          </button>
        </ng-template>
        <button class="btn page-btn btn-outline-dark mb-2" *ngIf="rolebaseaction.isAmendAccess; else noClick_Amend"
          (click)="statusUpdate('RS')">
          <i class="ri-file-edit-line pr-2"></i>Amend
        </button>
        <ng-template #noClick_Amend>
          <button class="btn btn-outline-dark mb-2" disabled>
            Amend
          </button>
        </ng-template>

        <button class="btn page-btn btn-outline-dark mb-2" (click)="resetRefRange('RT')">
          <i class="ri-refresh-line pr-2"></i>Reset
        </button>
        <!-- <button class="btn page-btn btn-outline-dark" [attr.disabled]="!rolebaseaction.IsPrintAccess ? true : null"
          (click)="onPrint()">
          <i class="ri-printer-line pr-1"></i>Print
        </button> -->

        <button data-bs-toggle="modal" data-bs-target="#displayInvoiceModal"
          *ngIf="rolebaseaction.isPrintAccess; else noClick_Print" class="btn page-btn btn-outline-dark">
          <i class="ri-printer-line pr-1"></i>Print
        </button>
        <ng-template #noClick_Print>
          <button class="btn btn-outline-dark mb-2" disabled>
            Print
          </button>
        </ng-template>
        <iframe #reportFrame width="0" height="0" style="display: none;"></iframe>
      </div>
      <div class="card mt-1">
        <div style="border: 1px solid #bff5bb;border-radius: .25rem;padding: 0.25rem 0.25rem;">
          <div class="d-flex flex-wrap justify-content-between navigation">
            <button class="btn page-btn btn-outline-paginate px-1" id="BtnFirst" tooltip="First"
              (click)="getRecord('first', evResultData.sno)">
              <i class="ri-skip-left-line"></i>
            </button>
            <button class="btn page-btn btn-outline-paginate px-1" id="BtnPrevious" tooltip="previous"
              (click)="getRecord('prev', evResultData.sno)">
              <i class="ri-arrow-left-double-line"></i>
            </button>
            <button class="btn page-btn btn-outline-paginate px-1" id="BtnNext" tooltip="next"
              (click)="getRecord('next', evResultData.sno)">
              <i class="ri-arrow-right-double-line"></i>
            </button>
            <button class="btn page-btn btn-outline-paginate px-1" id="BtnLast" tooltip="last"
              (click)="getRecord('last', evResultData.sno)">
              <i class="ri-skip-right-line"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-1">
      <!-- Image 1 Upload Section -->
      <div>
        <div>
          <input #inputFile1 type="file" (change)="onFileChange($event, 1)" style="display: none" accept="image/*" />
        </div>
        <div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-dark mx-1 my-1" type="button" (click)="onSelectImage(1)">
              Upload Image
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-1" *ngFor="let item of imagesList">
      <!-- Image 2 Upload Section -->
      <div>
        <div>
          <img class="uploaded-img" [src]="'data:image/jpeg;base64,' + item.image" alt="" />
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-outline-dark cancelation mx-1 my-1" type="button"
            (click)="deleteImages(item.apP_IMAGES_ID)">
            <i class="ri-delete-bin-6-line"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- <button data-bs-toggle="modal" data-bs-target="#displayInvoiceModal" class="btn page-btn btn-outline-dark m-2">

      <i class="ri-printer-line pr-1"></i>Print 2
    </button> -->

  </div>

  <div style="flex: 1 1 auto">

    <div class="d-flex justify-content-start">
      <div class="col-xxl-4 col-sm-4 col-4 pr-0 pt-1">
        <div class="input-group">
          <label style="height: 33px;" class="input-group-text side-input-dia">Search:</label>
          <ng-select [(ngModel)]="patientSelect" placeholder="Select Sample" bindValue="id" class="form-select"
            id="search" aria-label="" (ngModelChange)="onPatientSelection($event, patientSelect)" #patientSelect>
            <ng-option [tabIndex]="5" selected="">Select Sample
            </ng-option>
            <ng-option [tabIndex]="5" *ngFor="let obj of patientSearch" [value]="obj.id" [ngValue]="obj"
              style="max-width: 5rem" class="tooltip-cell" appTooltip="{{ obj.name }}">{{ obj.name
              }}</ng-option>
          </ng-select>


          <button (click)="ShowMulipleSearch()" tooltip="Multi Criteria" class="btn btn-outline-secondary"
            data-toggle="modal" data-target="#myModal" type="button" style="
                  height: 34px;
                  padding: inherit;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                ">
            <i class="ri-search-line mx-2"></i>
          </button>
          <!-- <select style="width: 1rem;" class="form-control" id="pSize" (change)="sizeChange($event)">
            <option value="90">90</option>
            <option value="60">60</option>
            <option value="30">30</option>
            </select> -->
        </div>

      </div>
      <div class="col-md-4 ml-auto">
        <div class="input-group">
          <label for="validationCustom01" class="input-group-text side-input-dia head-search ">Display Since:</label>
          <input id="pSize" type="number" class="form-control head-search" [value]="60" [step]="30"
            (keydown)="keypress()" (input)="sizeChange($event)" />

          <label class="input-group-text side-input-dia head-search "
            style="border-right:1px solid #ced4da;border-radius:4px">days</label>
          <button class="btn btn-outline-dark px-2 mx-1" syle="height: 1.95rem !important;"><i
              class="ri-refresh-line pr-2"></i>Refresh</button>
        </div>
      </div>
    </div>

    <!-- first-card -->
    <div class="card">
      <div class="d-flex flex-wrap">
        <div class="col-md-3 col-lg-3 col-12">
          <div class="input-group">
            <label for="PAT_ID_NAME" class="input-group-text side-input-dia">Sample Id/ Description:</label>
            <label class="form-control" id="PAT_ID_NAME">
              <span class="mx-1" id="PAT_ID">{{evResultData.paT_ID}}</span>
            </label>
          </div>
        </div>
        <div class="col-md-9 col-lg-9 col-9">
          <div class="input-group">
            <label class="form-control" id="PAT_ID_NAME">
              <span class="mx-1" id="PAT_NAME">{{evResultData.paT_NAME}}</span>
            </label>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-12">
          <div class="input-group">
            <label for="inputField1" class="input-group-text side-input-dia">Ref. No:</label>
            <label class="form-control" id="REF_NO">{{evResultData.reF_NO}}</label>
          </div>
        </div>

        <div class="col-md-3 col-lg-3 col-12">
          <div class="input-group">
            <label for="inputField1" class="input-group-text side-input-dia">Client ID / Name:</label>
            <label class="form-control" id="CN">{{evResultData.cn}}</label>
          </div>
        </div>
        <div class="col-md-7 col-lg-7 col-12">
          <div class="input-group">
            <label class="form-control" id="client">{{evResultData.client}}</label>
          </div>
        </div>
      </div>
      <!-- first-card -->
    </div>
    <!-- first-card -->

    <div class="card mt-2">
      <div class="">
        <div class="row">
          <div class="col-md-5 col-lg-4 col-12">
            <div class="input-group">
              <label class="input-group-text" for="DR">Default Result</label>
              <ng-select [tabIndex]="5" placeholder="Select Default Result" class="form-select" id="DR"
                (change)="change($event)" aria-label="">
                <ng-option [tabIndex]="5" selected="">Not Detected
                </ng-option>
                <ng-option [tabIndex]="5">Not Tested</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="col-md-5 col-lg-4 col-12">
            <div class="input-group">
              <label for="inputField1" class="input-group-text side-input-dia">Search Result:</label>
              <label class="form-control" id="SR"></label>
              <!-- <ng-select
                [items]="this.patientSearch"
                #patientSelect
                bindLabel="name"
                bindValue="id"
                placeholder="Select Patient"
                [(ngModel)]="selectedPatient"
                (change)="onPatientSelection($event, patientSelect)"
              >
              </ng-select> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-lg-4 col-12">
            <div class="input-group">
              <label for="inputField1" class="input-group-text side-input-dia">Order Number:</label>
              <!-- <input
                  type="text"
                  class="form-control"
                  id="OrderNumber"
                  formControlName="OrderNumber"

                /> -->
              <label class="form-control" id="orD_NO">{{evResultData.orD_NO}}</label>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 col-12">
            <div class="input-group">
              <label for="inputField1" class="input-group-text side-input-dia">Accession Number:</label>
              <!-- <input
                  type="text"
                  class="form-control"
                  id="AccessionNumber"
                  formControlName="AccessionNumber"
                
                /> -->
              <label class="form-control" id="accn">{{evResultData.accn}}</label>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 col-12">
            <div class="input-group">
              <label for="inputField1" class="input-group-text side-input-dia">Recieve Date:</label>
              <!-- <input
                  type="text"
                  class="form-control"
                  id="CollectionDate"
                  formControlName="CollectionDate"
                
                /> -->
              <label class="form-control" id="rcvD_DATE">{{evResultData.rcvD_DATE}}</label>
            </div>
          </div>
        </div>
        <div class="table-veritical">
          <table class="table table-bordered data" id="tableARFList">
            <thead class="table-head-fix" style="position: sticky;">
              <tr>
                <th style="width: 3.5rem">No</th>
                <th style="width: 10rem">Code</th>
                <th style="width: 2rem">S</th>
                <th style="width: 10rem">Result</th>
                <th style="width: 2rem">F</th>
                <th style="width: 9rem">Ref. Range</th>
                <th style="width: 7rem">Units</th>
                <th>Full Name</th>
                <th style="width: 4rem">Vldt</th>
                <th style="width: 2rem">Rsld</th>
                <th style="width: 15rem">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of evResultArfData; let i = index">
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{(i + 1)}}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{ item.tcode }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{ item.r_STS }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  <input *ngIf="item.r_STS=='OD' || item.r_STS=='RS'" type="text" class="form-control"
                    id="inputResult{{i}}" [(ngModel)]="item.result" value="{{ item.result }}"
                    (keyup)="onFetchAbbrevationResult($event,item,evResultArfData)"
                    [ngStyle]="{'color': item.r_STS == 'OD' ? 'black' : 'blue'}" />
                  <label class="form-control gray" id="lblResult" *ngIf="item.r_STS !='OD' &&  item.r_STS !='RS'"
                    [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                    {{ item.result }}
                  </label>
                </td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{ item.f }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{ item.reF_RANGE }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{ item.units }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}"
                  class="tooltip-cell" style="max-width: 10rem; cursor: pointer" appTooltip="{{ item.fulL_NAME }}">{{
                  item.fulL_NAME }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{ item.vldt }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">
                  {{ item.rsid }}</td>
                <td
                  [ngStyle]="{'color': (item.r_STS == 'VR' || item.r_STS == 'RS' || item.r_STS == 'VD') ? 'blue' : ((item.r_STS == 'RD') ? 'green' : (item.r_STS == 'XX' ? 'red' : 'black'))}">

                  <button class="view-edit" data-bs-toggle="modal" data-bs-target="#commentModal"
                    (click)="getCommentIndex(item)"
                    [ngStyle]="{'background-color': (item.notes != '') ? 'red' : 'transparent','color': (item.notes != '') ? 'white' : 'black' }">
                    <i class="View"></i>Comments
                  </button>
                  <!-- <button class="add edit btn-rounded" (click)="showPatient(item.reQ_CODE)"> -->
                  <button class="add edit btn-rounded" (click)="showPatient(item.tcode)">
                    <i class="View"></i>Details
                  </button>

                  <button class="add edit btn-rounded w-auto" data-bs-toggle="modal" data-bs-target="#instrument"
                    (click)="getInstrumentIndex(item)">Instrument</button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card mt-1 pb-2">
      <div class="d-flex">
        <div class="col-md-8">
          <div class="input-group">
            <label for="inputField1" class="input-group-text side-input-dia">Finding :</label>
            <textarea class="form-control" placeholder="Enter Comments" rows="1" cols="50" id="comments"
              [(ngModel)]="finding" value="{{finding}}" (keyup)="onFetchAbbrevation($event)"> </textarea>
            <!--  (keyup)="onFetchAbbrevation($event)" -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <label for="inputField1" class="input-group-text side-input-dia" style="width:20%">Final Result :</label>
            <select [tabIndex]="45" style="width: 5rem; " class="form-control" id="fnlres" [(ngModel)]="fnlres">
              <option value="Normal">Normal</option>
              <option value="Abnormal">Abnormal</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade modal-alert rounded-3 mt-3" id="sampleModal" data-bs-backdrop="static"
    data-bs-keyboard="false">

    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">

        <div class="bg-primary modal-header" style="color:white;">
          Sample Information
        </div>

        <div class="modal-body p-4 text-left">
          <div class="col-md-12">
            <div>
              <div>
                <h6>Details:</h6>
              </div>
              <div class="card">

                <div class="d-flex flex-wrap">
                  <div class="col-md-5 col-lg-5 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Sample Id / Name:</label>
                      <label class="form-control highligter" readonly="true" type="text"
                        id="inputField1"><b>{{evDetails.paT_ID}}</b></label>
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-7 col-12">
                    <div class="input-group">
                      <label class="form-control highligter" readonly="true" type="text"
                        id="inputField1"><b>{{evDetails.paT_NAME}}</b></label>
                    </div>
                  </div>
                  <div class="col-md-5 col-lg-5 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Accession No:</label>
                      <label class="form-control highligter" (input)="(evDetails.accn)" type="text" id="inputField1"
                        readonly="true"> <b>{{evDetails.accn}}</b></label>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Status:</label>
                      <label class="form-control highligter" (input)="(evDetails.accn)" type="text" id="inputField1"
                        readonly="true"> <b>{{evDetails.r_STS}}</b></label>
                    </div>
                  </div>

                  <!-- <div class="col-md-5 col-lg-5 col-12"> -->
                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Ref No:</label>
                      <label class="form-control" type="text" id="inputField1" readonly="true"></label>
                    </div>
                  </div>

                  <div class="col-md-2 col-lg-2 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Client No</label>
                      <label class="form-control" readonly="true" type="text" id="inputField1">{{evDetails.cn}}</label>
                    </div>
                  </div>
                  <div class="col-md-10 col-lg-10 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Client Name:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.client}}</label>
                    </div>
                  </div>

                  <div class="col-md-5 col-lg-5 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Test Code / Name:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.tcode}}</label>
                    </div>
                  </div>
                  <div class="col-md-7 col-lg-7 col-12">
                    <div class="input-group">
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.fulL_NAME}}</label>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Order Date/Time.... :</label>
                      <label class="form-control" readonly="true" type="number" id="inputField1">
                        {{evDetails.ordeR_DTTM }} </label>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Collection Date/Time:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.coL_DTTM}}</label>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Result Date/Time...:</label>
                      <label class="form-control" readonly="true" type="number" id="inputField1">
                        {{evDetails.reS_DTTM }} </label>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Verify Date/Time.... :</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.veR_DTTM}}</label>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Validate Date/Time....:</label>
                      <label class="form-control" readonly="true" type="number" id="inputField1">
                        {{evDetails.vldT_DTTM }} </label>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Release Date/Time:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.vldT_DTTM}}</label>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Ordered By:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.o_ID}}</label>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.ordereD_BY}}</label>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Resulted By:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.r_ID}}</label>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.resultD_BY}}</label>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Verified By:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.v_ID}}</label>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.verifieD_BY}}</label>
                    </div>
                  </div>

                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Validated By:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.v_ID}}</label>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.validateD_BY}}</label>
                    </div>
                  </div>


                  <div class="col-md-5 col-lg-5 col-12">
                    <!-- <div class="col-md-7 col-12"> -->
                    <div class="input-group">
                      <label class="input-group-text side-input-dia">Instrument:</label>
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.shdR_NAME}}</label>
                    </div>
                  </div>

                  <!-- <div class="col-md-3 col-lg-3 col-12">
                    <div class="input-group">
                      <label class="form-control" readonly="true" type="text"
                        id="inputField1">{{evDetails.validateD_BY}}</label>
                    </div>
                  </div> -->

                  <!-- <div class="col-md-5 col-lg-5 col-12">
                  <div class="input-group">
                    <label class="input-group-text side-input-dia">Verified:</label>
                    <label class="form-control" readonly="true" type="text"
                      id="inputField1"></label>
                  </div>
                </div> -->

                </div>

              </div>


              <div class="col-md-6 no-padding-left no-padding-right" style="display: none;">
                <div class="card mt-2 ">
                  <label>Remarks:</label>
                  <textarea class="form-control" id="textareaInput" rows="2" cols="50"
                    placeholder="Enter text"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark cancelation" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- </form> -->

  <!--Multiple Search-->
  <div class="modal fade modal-alert rounded-3" id="modalMulipleSearch" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="bg-info modal-header" style="color: white">
          Orders Search
          <label id="LblIssueInvoice_OrdNo" style="font-weight: bold"></label>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-3 col-3">
              <div class="card pb-1">
                <div class="card-body">
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpSubtotal" class="input-group-text"
                        style="width: 39%; margin-bottom: 5px; height: 36px">ID Number</label>
                      <input type="text" class="form-control" id="inpMIDNo" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpDiscount" class="input-group-text"
                        style="width: 39%; margin-bottom: 5px; height: 36px">Tel No</label>
                      <input type="text" class="form-control" id="inpMTelNo" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpTotalAfterDiscount" class="input-group-text"
                        style="width: 39%; margin-bottom: 5px; height: 36px">Patient No</label>
                      <input type="text" class="form-control" id="inpMPatID" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpTotalAfterDiscount" class="input-group-text"
                        style="width: 39%; margin-bottom: 5px; height: 36px">Patient Name</label>
                      <input type="text" class="form-control" id="inpMPatName" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpTotalAfterDiscount" class="input-group-text"
                        style="margin-bottom: 5px; height: 36px">DOB</label>
                      <input type="date" class="form-control" id="inpMDOB" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label class="input-group-text" for="SEX">Gender</label>
                      <select ng-disabled="btnDisabled" id="selMSEX" aria-label="Select Gender" style="
                  min-width: 79.8%;
                  height: 33px;
                  border-color: #ced4da !important;
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                ">
                        <option value="">Select Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="U">Unknown</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 mt-1">
                    <div class="input-group">
                      <label for="inpGrandTotal" class="input-group-text"
                        style="width: 39%; margin-bottom: 5px; height: 36px">Order No</label>
                      <input type="text" class="form-control" id="inpMOrdNo" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpGrandTotal" class="input-group-text"
                        style="width: 39%; margin-bottom: 5px; height: 36px">Accession No</label>
                      <input type="text" class="form-control" id="inpMAccn" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpTotalAfterDiscount" class="input-group-text"
                        style="margin-bottom: 5px; height: 36px">Date From</label>
                      <input type="date" [(ngModel)]="fromDate" class="form-control" id="inpMDateFrom" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="input-group">
                      <label for="inpTotalAfterDiscount" class="input-group-text"
                        style="margin-bottom: 5px; height: 36px">Date To</label>
                      <input type="date" [(ngModel)]="toDate" class="form-control" id="inpMDateTo" />
                    </div>
                  </div>
                  <div class="col-md-12 my-2 d-flex justify-content-between">
                    <button id="BtnModalMultipleSearch" (click)="GetMultipleSearch()" type="button"
                      class="btn btn-outline-dark">
                      <strong><i class="ri-search-line"></i> Search</strong>
                    </button>
                    <button type="button" class="btn btn-outline-dark">
                      <i class="ri-arrow-go-back-line"></i> Reset
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-9 col-9">
              <div class="row">
                <div class="col-sm-12 col-12">
                  <h6 class="text-info">Patients list</h6>
                  <div class="card pb-1 mt-2" style="height: 15.3rem; overflow-y: scroll">
                    <div>
                      <table class="table table-bordered data" id="TableMultipleSearchPR">
                        <thead class="table-head-fix">
                          <tr>
                            <th>Patient Name</th>
                            <th>Patient ID</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>NID</th>
                            <th>Tel. No.</th>
                            <th style="width:7rem">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                      let multupleSearchList of multupleSearchList
                    ">
                            <td>{{ multupleSearchList.paT_NAME }}</td>
                            <td>{{ multupleSearchList.paT_ID }}</td>
                            <td>
                              {{
                              multupleSearchList.sex == "M"
                              ? "Male"
                              : "Female"
                              }}
                            </td>
                            <td>
                              {{ multupleSearchList.dob | date : "dd/MM/yyyy" }}
                            </td>
                            <td>{{ multupleSearchList.idnt }}</td>
                            <td>{{ multupleSearchList.tel }}</td>
                            <td>
                              <button class="btn btn-primary btn-icon btn-sm mb-1" style="
                          height: 1.7rem;
                          width: 2rem;
                          padding: 0rem 0rem;
                          margin-bottom: 0rem !important;
                        " (click)="
                          GetMultipleSearchOrders(
                            multupleSearchList.paT_ID
                          )
                        ">
                                <i class="ri-send-plane-line"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 col-12 mt-2">
                  <h6 class="text-info">Orders List</h6>
                  <div class="card pb-1" style="height: 15.3rem; overflow-y: scroll">
                    <div class="card-body">
                      <div class="mb-3">
                        <table class="table table-bordered data" id="TableMultipleSearchOrders">
                          <thead class="table-head-fix">
                            <tr>
                              <th>Site No</th>
                              <th>Order No</th>
                              <th>Accession No</th>
                              <th>Client</th>
                              <th>Location</th>
                              <th>Doctor</th>

                              <th style="width:7rem">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="
                        let multupleSearchOrdersList of multupleSearchOrdersList
                      ">
                              <td>{{ multupleSearchOrdersList.sitE_NO }}</td>
                              <td>{{ multupleSearchOrdersList.orD_NO }}</td>
                              <td>{{ multupleSearchOrdersList.accn }}</td>
                              <td>
                                {{ multupleSearchOrdersList.cn }}-{{
                                multupleSearchOrdersList.client
                                }}
                              </td>
                              <td>
                                {{ multupleSearchOrdersList.loc }}-{{
                                multupleSearchOrdersList.descrp
                                }}
                              </td>
                              <td>
                                {{ multupleSearchOrdersList.drno }}-{{
                                multupleSearchOrdersList.doctor
                                }}
                              </td>

                              <td>
                                <button class="btn btn-primary btn-icon btn-sm mb-1" style="
                            height: 1.7rem;
                            width: 2rem;
                            padding: 0rem 0rem;
                            margin-bottom: 0rem !important;
                          " (click)="
                            SearchOrderTransMultiple(
                              multupleSearchOrdersList.orD_NO
                            )
                          " data-bs-dismiss="modal">
                                  <i class="ri-send-plane-line"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="LoadPatient(NewPatId)" type="button" class="btn btn-outline-dark cancelation"
            data-bs-dismiss="modal">
            <i class="ri-close-line"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Comment-Modal -->
  <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <input type="hidden" id="rowIndex" name="rowIndex" value="0" />
        <div class="bg-primary modal-header" style="color: white;">Enter Comments
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <div>
              <label for="inputField1">Comments:</label>
              <textarea style="height: 16rem !important;" class="form-control" placeholder="Enter Comments" rows="7"
                cols="50" id="notes"> </textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark cancelation" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-dark" (click)="updateComments()"
            data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!--    instrument-Modal -->

  <!-- Comment-Modal -->
  <!-- <div class="modal fade" id="instrument" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <input type="hidden" id="rowIndex" name="rowIndex" value="0" />
          <div class="bg-primary modal-header" style="color: white;">Enter Comments
          </div>
          <div class="modal-body">

            <div class="col-md-12">
              <div>
                <label for="inputField1">Comments:</label>
                <textarea style="height: 16rem !important;" class="form-control" placeholder="Enter Comments" rows="7"
                  cols="50" id="notes"> </textarea>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark cancelation" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-dark"(click)="updateInstruments()"
              data-bs-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div> -->


  <div class="modal fade" id="instrument" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-scrollable">
      <div class="modal-content">
        <div class="bg-danger modal-header" style="color: white">
          Instrument Reset
        </div>

        <div class="modal-body p-4 text-left">
          <div class="col-md-12">
            <div>
              <div>
                <h6>Instrument Reset:</h6>

                <div class="input-group mt-2">
                  <label for="inpTotalAfterDiscount" class="input-group-text">Code:</label>
                  <input type="text" class="form-control" id="instrumentCode" />
                </div>

                <div class="input-group mt-2">
                  <label for="inpTotalAfterDiscount" class="input-group-text">Full Name</label>
                  <input type="text" class="form-control" id="instrumentfullName" />
                </div>

                <div class="input-group mt-2">
                  <label for="inputField1" class="input-group-text side-input-dia">Instrument Type:</label>
                  <select class="form-control" id="instrumenttype">
                    <option value="0">Select Instrument</option>
                    <option *ngFor="let ins of evInstrument" value="{{ins.id}}">{{ins.name}}</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark cancelation" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" (click)="updateInstruments()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- instrument-reset -->

  <!-- Issue Invoice Modal -->
  <div class="modal fade" id="displayInvoiceModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div class="modal-content">
        <div class="bg-primary modal-header">
          <h5 class="modal-title text-white" id="exampleModalToggleLabel">
            Issue Invoice
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <i class="ri-close-line pr-1"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column">
            <div class="col-md-12">
              <div class="card mt-1">
                <div class="mx-3">
                  <input type="checkbox" />
                  <label for="inputField1">Print Page Header</label>
                </div>
                <div class="mx-3">
                  <input type="checkbox" />
                  <label for="inputField1">Electronic Signature</label>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card mt-1">
                <div class="d-flex flex-column justify-content-end">
                  <div class="d-flex justify-content-start">
                    <div>
                      <label class="input-group-text side-input-dia" for="inputField1">Signed By:</label>
                    </div>
                    <div class="w-100">
                      <select id="SignedUser" class="form-control float-right" [(ngModel)]="selectedUserId">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let user of userAllData" [value]="user.useR_ID">
                          {{ user.useR_ID }}-{{ user.sigN_LINE1 }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!-- The print button is disabled if no user is selected -->
          <button type="button" class="btn btn-outline-dark" (click)="onPrint()" [disabled]="!selectedUserId">
            <i class="ri-printer-line pr-1"></i>Print
          </button>
          <button type="button" class="btn btn-outline-dark btn-close cancelation" data-bs-dismiss="modal"
            aria-label="Close">
            <i class="ri-close-line pr-1"></i>Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Issue Invoice Modal -->