<div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-10">
      <!-- back-link -->
  
      <div class="d-flex section-top-space">
        <div class="d-flex">
          <a style="color: #000000">
            <h6 class="py-1 mt-1 header-font">Test directory</h6> </a
          ><span class="pt-1"><i class="ri-arrow-right-s-line icon"></i></span>
          <a style="color: #000000">
            <h6 class="py-1 mt-1 header-font">Test Assignment</h6>
          </a>
        </div>
      </div>
  
      <div class="d-flex justify-content-between">
          <div class="d-flex flex-wrap w-75">
            <button data-toggle="modal" data-target="#copy-from-clients"
            class="btn btn-outline-dark add-section"><i class="ri-refresh-line pr-1"></i>Refersh</button>
          <button (click)="redirectToTestImport()" class="btn btn-outline-dark order-section"><i class="ri-download-2-line pr-1"></i>Import</button>
          <button class="btn btn-outline-dark"><i class="ri-file-copy-line pr-1"></i>Copy to</button>
          <button class="btn btn-outline-dark add-section">
            <i class="ri-logout-box-line pr-1"></i>Exit
          </button>
          </div>
      </div>
      <div class="mt-2">
        <h6>Test For:</h6>
      </div>
      <div class="card">
          <div class="d-flex flex-wrap">
            <div class="mt-1 col-md-3 col-lg-3 col-3">
                <input type="checkbox" formControlName="rcvD_COL" id="defaultSpecimen"/>
                <label for="defaultSpecimen" style="font-size: 0.8rem">
                 Display All site tests
                </label>
              </div>
            <div class="col-md-3 col-lg-3 col-12">
              <div class="input-group">
                <label for="inputField1" class="input-group-text side-input-dia"
                  >Site:</label
                >
                <select id="dropdown1" class="form-control">
                  <option value="option1">Select</option>
                  <option value="option2">Option-biology</option>
                  <option value="option3">Option-biology</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-12">
              <div class="input-group">
                <label for="inputField1" class="input-group-text side-input-dia"
                  >Work Center:</label
                >
                <select id="dropdown1" class="form-control">
                  <option value="option1">Select</option>
                  <option value="option2">Option-biology</option>
                  <option value="option3">Option-biology</option>
                </select>
              </div>
            </div>
            <div class="col-md-3 col-lg-3 col-12">
                <div class="input-group">
                  <label for="inputField1" class="input-group-text side-input-dia"
                    >Test Sites:</label
                  >
                  <select id="dropdown1" class="form-control">
                    <option value="option1">Select</option>
                    <option value="option2">Option-biology</option>
                    <option value="option3">Option-biology</option>
                  </select>
                </div>
              </div>
          </div>
     
      </div>
  
      <!--table -->
      <div class="card mt-2">
        <table class="table table-bordered data mt-2">
          <thead>
            <tr>
              <th style="width:3rem">WC</th>
              <th style="width:3rem">TS</th>
              <th style="width: 7rem">Test Code</th>
              <th style="width: 3rem">Test No</th>
              <th>Full Name</th>
              <th style="width: 9rem">Tst_id</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>117</td>
              <td>123</td>
              <td>jhasdh</td>
              <td>1213</td>
              <td>sample name</td>
              <td>123123123123</td>
            </tr>
            <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
              <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
              <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
              <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
              <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
              <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
              <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
              <tr>
                <td>117</td>
                <td>123</td>
                <td>jhasdh</td>
                <td>1213</td>
                <td>sample name</td>
                <td>123123123123</td>
              </tr>
          </tbody>
        </table>
      </div>
      <!--table -->
    </div>
  </div>



  
  