
.btn-rounded {
    border-radius: 10rem;
  }
  .btn {
    padding: 0rem 1rem;
    height: 2.1rem;
    border: 1.5px solid transparent;
  }
.save{
    color: #139c49;
    background-color: #fff;
    border: 1.5px solid #139c49;
    font-weight: 500;
    padding: 1px;
  }
  .head-search{
   height:32px;
   font-weight: 500;
   font-size: 13px;
  }
  .edit {
    color: #386bc0;
    background-color: #fff;
    border: 1.5px solid #386bc0;
    font-weight: 500;
  }
  .input-group {
    position: relative;
    // margin: 0.4rem 0rem;
}
.card {
    overflow-x: scroll !important;
    padding: 0.6rem;
    display: block;

}