<div class="row justify-content-center">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="d-flex section-top-space">
        </div>
        <!-- back-link -->
        <!-- tabs -->
        <section class="section-wrapper">
            <div>
                <nav class="tab-nav">
                    <button id="btnadclient" data-tab-target="tab-content-1" (click)="goToDataEnty('adduser/')"
                        [class.is-active]="_sharedservice.selected === 'adduser/'">
                        Data Entry
                    </button>
                    <button data-tab-target="tab-content-2" id="btnlist" (click)="goToDataEnty('list/')"
                        [class.is-active]="_sharedservice.selected === 'list/'">List</button>
                    <button data-tab-target="tab-content-2" id="btnpagetrack" (click)="goToDataEnty('pagetracking/')"
                        [class.is-active]="_sharedservice.selected === 'pagetracking/'">Page Tracking</button>
                    <button data-tab-target="tab-content-2" id="btnlogintrack" (click)="goToDataEnty('logintracking/')"
                        [class.is-active]="_sharedservice.selected === 'logintracking/'">Login Tracking</button>
                    <!-- <button data-tab-target="tab-content-2" id="btnprivileges" (click)="goToDataEnty('privileges/')"
                        [class.is-active]="_sharedservice.selected === 'privileges/'">Privileges Setup</button>
                    <button data-tab-target="tab-content-2" id="btnprivileges"
                        (click)="goToDataEnty('clinical-privileges/')"
                        [class.is-active]="_sharedservice.selected === 'clinical-privileges/'">Clinical
                        Privileges</button> -->
                        <h6 class="ml-auto mr-1 pt-1 specific-header-naming">User Definition</h6>

                </nav>
                <div>
                    <app-default></app-default>
                </div>
            </div>
        </section>
    </div>
</div>