<div class="row justify-content-center">
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="d-flex section-top-space">
      <!-- <div class="d-flex">
    <a style="color: #000000" href="http://127.0.0.1:5500/Master/accession-prefix.html">
      <h6 class="py-1 mt-1 header-font">Master</h6>
    </a><span class="pt-1"><i class="ri-arrow-right-s-line icon"></i></span>
    <a style="color: #000000" href="#">
      <h6 class="py-1 mt-1 header-font">Clients</h6>
    </a>
  </div> -->
    </div>
    <!-- back-link -->
    <!-- tabs -->
    <section class="section-wrapper mt-3">
      <div>
        <nav class="tab-nav">
          <button id="btnadclient" data-tab-target="tab-content-1" (click)="goToVotes('addclient')"
            [class.is-active]="selected === 'addclient'">
            Data Entry
          </button>
          <button data-tab-target="tab-content-2" id="btnlist" (click)="goToVotes('list')"
            [class.is-active]="selected === 'list'">List</button>
          <button data-tab-target="tab-content-3" id="btnspecialprices" (click)="goToVotes('specialprices')"
            [class.is-active]="selected === 'specialprices'">Special Prices</button>


          <!-- <button data-tab-target="tab-content-4" routerLink="/landing">Groups</button> -->
          <h6 class="ml-auto mr-1 pt-1 specific-header-naming">Clients</h6>

        </nav>
        <app-default></app-default>
      </div>
    </section>
  </div>
</div>