.uploaded-img{
    height: 11rem !important;
  }
  // larger-fonts
.input-group-text {
  font-size: 0.93rem;
  color: #58555e;
}
.form-control {
  font-size: 0.93rem;
}
label {
  font-size: 0.93rem;
  margin-bottom: 0.3rem;
}
.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 0.93rem !important;
}
// larger-fonts