@media only screen and (min-width: 1700px) {
    label {
        font-size: 12px !important;
    }
    .table thead th {
        font-size: 15px !important;
    }
    .table>tbody>tr>td {
        font-size: 14.8px !important;
    }
    .form-control {
        font-size: 0.8rem !important;
    }
}