<div class="d-flex section-top-space pt-4">
  <!-- <div class="d-flex">
    <a style="color: #000000" href="http://127.0.0.1:5500/Master/accession-prefix.html">
      <h6 class="py-1 mt-1 header-font">Order Processing</h6>
    </a><span class="pt-1"><i class="ri-arrow-right-s-line icon"></i></span>
    <a style="color: #000000" href="#">
      <h6 class="py-1 mt-1 header-font">Order Entry</h6>
    </a>
  </div> -->
</div>
<!-- back-link -->
<!-- tabs -->
<section class="section-wrapper mt-0">
  <div >
    <nav class="tab-nav">
      <button  id="btnaddorder" data-tab-target="tab-content-1" (click)="addOrders('AddOrderentry')" [class.is-active]="selected === 'AddOrderentry'">
        Data Entry
      </button>
      <button data-tab-target="tab-content-2" id="btnlist" (click)="EditOrders('ListOrderentry')" [class.is-active]="selected === 'ListOrderentry'">List</button>
      <button class="exit-to-dash ml-auto"><i
        class="ri-close-line pr-1"></i>Close</button>
      <!--<button data-tab-target="tab-content-3" id="btnspecialprices" (click)="goToVotes('specialprices')"  >Special Prices</button>
      <button data-tab-target="tab-content-4" routerLink="/landing">Groups</button>-->
    </nav>
    <app-default></app-default>

  </div>
  </section>
