.rootcontainer{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.92rem);
    margin-right: auto;
    margin-left: none !important;
  //  padding-top: 100px;
}
